Workflow/iuZ2SSrBdv31FVaK.json
{
  "active": false,
  "connections": {
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "Get Ideas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Ideas": {
      "main": [
        [
          {
            "node": "Set your prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set your prompt": {
      "main": [
        [
          {
            "node": "Generate article with DeepSeek",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create post on Wordpress": {
      "main": [
        [
          {
            "node": "Generate Image with DALL-E",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload image": {
      "main": [
        [
          {
            "node": "Set Image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Image": {
      "main": [
        [
          {
            "node": "Update Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate article with DeepSeek": {
      "main": [
        [
          {
            "node": "Generate title with DeepSeek",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate title with DeepSeek": {
      "main": [
        [
          {
            "node": "Create post on Wordpress",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Image with DALL-E": {
      "main": [
        [
          {
            "node": "Upload image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-04-30T07:56:23.517Z",
  "id": "iuZ2SSrBdv31FVaK",
  "meta": null,
  "name": "SRT",
  "nodes": [
    {
      "parameters": {},
      "id": "3b707d8e-da41-4ce6-bb8b-bc8ff0f143c0",
      "name": "When clicking ‘Test workflow’",
      "type": "n8n-nodes-base.manualTrigger",
      "position": [
        -420,
        340
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1Zw-O3B9iZWD0xRRiObA1VDgkyEQNVSz8JQjJlIUpYlA",
          "mode": "list",
          "cachedResultName": "ListDesMusiciens",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Zw-O3B9iZWD0xRRiObA1VDgkyEQNVSz8JQjJlIUpYlA/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "liste",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Zw-O3B9iZWD0xRRiObA1VDgkyEQNVSz8JQjJlIUpYlA/edit#gid=0"
        },
        "options": {}
      },
      "id": "66ad732b-0d59-4022-851b-9b7df7e09af8",
      "name": "Get Ideas",
      "type": "n8n-nodes-base.googleSheets",
      "position": [
        -200,
        340
      ],
      "typeVersion": 4.5,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "vcGCddI90w6RjMUC",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "3e8d2523-66aa-46fe-adcc-39dc78b9161e",
              "name": "prompt",
              "type": "string",
              "value": "={{ $json.PROMPT }}"
            }
          ]
        },
        "options": {}
      },
      "id": "ee9a4dd4-bf51-4d2c-921c-71d3dd24a4c6",
      "name": "Set your prompt",
      "type": "n8n-nodes-base.set",
      "position": [
        20,
        340
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "title": "={{ $json.message.content }}",
        "additionalFields": {
          "content": "={{ $('Generate article with DeepSeek').item.json.message.content }}",
          "status": "draft"
        }
      },
      "id": "75511afa-c74a-444d-b4da-f4ee1167e19b",
      "name": "Create post on Wordpress",
      "type": "n8n-nodes-base.wordpress",
      "position": [
        680,
        340
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://YOURSITE.com/wp-json/wp/v2/media",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "wordpressApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Disposition",
              "value": "=attachment; filename=\"copertina-{{ $('Create post on Wordpress').item.json.id }}.jpg\""
            }
          ]
        },
        "sendBody": true,
        "contentType": "binaryData",
        "inputDataFieldName": "data",
        "options": {}
      },
      "id": "4e571c0a-d2dd-4db9-a6d5-820d5d7c98cd",
      "name": "Upload image",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        1120,
        340
      ],
      "typeVersion": 4.2
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://wp.test.7hype.com/wp-json/wp/v2/posts/{{ $('Create post on Wordpress').item.json.id }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "wordpressApi",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "featured_media",
              "value": "={{ $json.id }}"
            }
          ]
        },
        "options": {}
      },
      "id": "a2b56ecd-b059-4166-8cbc-1f752b642ea4",
      "name": "Set Image",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        1340,
        340
      ],
      "typeVersion": 4.2
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "mode": "list",
          "value": "16VFeCrE5BkMBoA_S5HD-9v7C0sxcXAUiDbq5JvkDqnI",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/16VFeCrE5BkMBoA_S5HD-9v7C0sxcXAUiDbq5JvkDqnI/edit?usp=drivesdk",
          "cachedResultName": "Plan Blog wp.test.7hype.com"
        },
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": "gid=0",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/16VFeCrE5BkMBoA_S5HD-9v7C0sxcXAUiDbq5JvkDqnI/edit#gid=0",
          "cachedResultName": "Foglio1"
        },
        "columns": {
          "value": {
            "DATA": "={{ $now.format('dd/LL/yyyy') }}",
            "TITOLO": "={{ $('Generate title with DeepSeek').item.json.message.content }}",
            "ID POST": "={{ $('Create post on Wordpress').item.json.id }}",
            "row_number": "={{ $('Get Ideas').item.json.row_number }}"
          },
          "schema": [
            {
              "id": "DATA",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "DATA",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "PROMPT",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "PROMPT",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "TITOLO",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "TITOLO",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "ID POST",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "ID POST",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "type": "string",
              "display": true,
              "removed": false,
              "readOnly": true,
              "required": false,
              "displayName": "row_number",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            }
          ],
          "mappingMode": "defineBelow",
          "matchingColumns": [
            "row_number"
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "6e72e672-9576-40f1-b7ef-b5e8f797b68b",
      "name": "Update Sheet",
      "type": "n8n-nodes-base.googleSheets",
      "position": [
        1560,
        340
      ],
      "typeVersion": 4.5,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "vcGCddI90w6RjMUC",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "content": "## Target\nThis workflow is designed to automatically generate seo-friendly content for wordpress through DeepSeek R1 by giving input ideas on how to structure the article. A cover image is also generated and uploaded with OpenAI DALL-E 3. This flow is designed to be executed automatically (ad \"On a schedule\" node) and thus have a complete editorial plan.\n\nThis process is useful for blog managers who want to automate content creation and publishing.\n\n## Preliminary step\nCreate a google sheet with the following columns:\n- Date\n- Prompt\n- Title\n- Post ID\n\nFill in only the \"Prompt\" column with basic ideas that DeepSeek will work on to generate the content.",
        "height": 380,
        "width": 800,
        "color": 3
      },
      "id": "ba2cd7c4-5fe2-4796-b1d3-cb4c38794f82",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -460,
        -220
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "Connect with your Google Sheet. This node select only rows for which no content has been generated yet in WordPress",
        "height": 260
      },
      "id": "64c86b05-580c-44bf-a777-09dda0d715f3",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -270,
        240
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "mode": "id",
          "value": "=deepseek-reasoner"
        },
        "messages": {
          "values": [
            {
              "content": "=You are an SEO expert, write an article based on this topic:\n{{ $json.prompt }}\n\nInstructions:\n- In the introduction, introduce the topic that will be explored in the rest of the text\n- The introduction should be about 120 words\n- The conclusions should be about 120 words\n- Use the conclusions to summarize everything said in the article and offer a conclusion to the reader\n- Write a maximum of 4-5 chapters and argue them.\n- The chapters should follow a logical flow and not repeat the same concepts.\n- The chapters should be related to each other and not isolated blocks of text. The text should flow and follow a linear logic.\n- Do not start chapters with \"Chapter 1\", \"Chapter 2\", \"Chapter 3\" ... write only the chapter title\n- For the text, use HTML for formatting, but limit yourself to bold, italics, paragraphs and lists.\n- Don't put the output in ```html but only text\n- Don't use markdown for formatting.\n- Go deeper into the topic you're talking about, don't just throw superficial information there\n- In output I want only the HTML format"
            }
          ]
        },
        "options": {
          "maxTokens": 2048
        }
      },
      "id": "406ad4c4-f975-4af8-8ffc-345d393f79d9",
      "name": "Generate article with DeepSeek",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "position": [
        240,
        340
      ],
      "typeVersion": 1.8
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "mode": "id",
          "value": "=deepseek-reasoner"
        },
        "messages": {
          "values": [
            {
              "content": "=You are an SEO Copywriter and you need to think of a title of maximum 60 characters for the following article:\n{{ $json.message.content }}\n\nInstructions:\n- Use keywords contained in the article\n- Do not use any HTML characters\n- Output only the string containing the title.\n- Do not use quotation marks. The only special characters allowed are \":\" and \",\""
            }
          ]
        },
        "options": {
          "maxTokens": 2048
        }
      },
      "id": "1560f67e-0dda-428e-ba36-c7dd10bef886",
      "name": "Generate title with DeepSeek",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "position": [
        460,
        340
      ],
      "typeVersion": 1.8
    },
    {
      "parameters": {
        "content": "Add your DeepSeek API credential. If you want you can change the model with \"deepseek-chat\"",
        "height": 260,
        "width": 420
      },
      "id": "b92e15bd-8d45-4782-9841-7aeaf8c038f3",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        190,
        240
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "Add your WordPress API credential\n",
        "height": 260,
        "width": 160
      },
      "id": "6fc59ce9-7bbd-4400-9bfb-44bc263675fc",
      "name": "Sticky Note3",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        650,
        240
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "resource": "image",
        "prompt": "=Generate a real photographic image used as a cover for a blog post:\n\nImage prompt:\n{{ $('Generate title with DeepSeek').item.json.message.content }}, photography, realistic, sigma 85mm f/1.4",
        "options": {
          "size": "1792x1024",
          "style": "natural"
        }
      },
      "id": "550283f0-3343-44c1-91a3-f41ec91057ed",
      "name": "Generate Image with DALL-E",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "position": [
        900,
        340
      ],
      "typeVersion": 1.8,
      "credentials": {
        "openAiApi": {
          "id": "pIo6q1LDQ5VAjN23",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "content": "Add your OpenAI API credential\n",
        "height": 260,
        "width": 160
      },
      "id": "c8e9e483-8b26-4314-a082-3a77633cee3f",
      "name": "Sticky Note4",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        870,
        240
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "Upload the image on your WordPress via APIs\n",
        "height": 260,
        "width": 180
      },
      "id": "688fc71c-48c3-4a3c-aca4-2610414603bb",
      "name": "Sticky Note5",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1080,
        240
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "Set the uploaded image with the newly created article\n",
        "height": 260,
        "width": 180
      },
      "id": "03b9f430-3f54-47e9-aa1e-f12dea926f88",
      "name": "Sticky Note6",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1300,
        240
      ],
      "typeVersion": 1
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-04-30T08:35:31.000Z",
  "versionId": "58bc08a4-5d72-4dff-95f3-e3f9d7652097"
}