Workflow/x6YfVdcAP3YWV0sc.json
{
  "active": false,
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "AWS Bedrock Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Globals",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gmail1": {
      "main": [
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AWS Bedrock Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "SerpAPI": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Globals": {
      "main": [
        [
          {
            "node": "Gmail1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GitHub": {
      "ai_tool": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-04-28T15:04:44.034Z",
  "id": "x6YfVdcAP3YWV0sc",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "creationFichierGitHub",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "id": "c11a11a4-151b-48ce-b7d2-ac72c0ab6c76",
      "name": "When chat message received",
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        -780,
        -240
      ],
      "webhookId": "5ee1fdf0-1eca-495b-8872-4d11d79d5d0d"
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "3e1f147f-3d41-4c2c-beb2-ae72b94b9711",
      "name": "AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        -560,
        -240
      ]
    },
    {
      "parameters": {},
      "id": "1bc0b589-84a3-44d8-a455-5ffe612bbabc",
      "name": "Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -500,
        40
      ]
    },
    {
      "parameters": {
        "model": "anthropic.claude-3-5-sonnet-20240620-v1:0",
        "options": {
          "maxTokensToSample": 8000,
          "temperature": 0.7
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatAwsBedrock",
      "typeVersion": 1,
      "position": [
        -680,
        40
      ],
      "id": "6aca947b-07f6-44c8-a32a-71dcabb1d79b",
      "name": "AWS Bedrock Chat Model",
      "credentials": {
        "aws": {
          "id": "Odg3O34ltsyYJyT2",
          "name": "AWS account"
        }
      }
    },
    {
      "parameters": {
        "operation": "sendAndWait",
        "sendTo": "={{ $('Globals').item.json.emailValidation }}",
        "subject": "=ok ou non ?  {{ $('When chat message received').item.json.chatInput }}",
        "message": "=OK pour la page : \n\n{{ $('AI Agent').item.json.output }}\n\n\n",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        -20,
        -240
      ],
      "id": "a79784f6-b526-4661-831e-bb18e192e1d4",
      "name": "Gmail1",
      "webhookId": "074fea41-3a6f-4c49-9727-f2cf0b9d95b0",
      "credentials": {
        "gmailOAuth2": {
          "id": "ItbTQ7TkDwS7VqUL",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Créer un fichier dans le git pour un blog fait avec Hugo en markdown pour le post: {{ $('AI Agent').item.json.output }}",
        "options": {
          "systemMessage": "=",
          "returnIntermediateSteps": true
        }
      },
      "id": "0b6e6c75-9f6e-446c-9d50-23d0e4560ec5",
      "name": "AI Agent1",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        140,
        -240
      ]
    },
    {
      "parameters": {
        "model": "anthropic.claude-3-5-sonnet-20240620-v1:0",
        "options": {
          "maxTokensToSample": 8000,
          "temperature": 0.7
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatAwsBedrock",
      "typeVersion": 1,
      "position": [
        80,
        60
      ],
      "id": "1202bc99-8e69-404f-9b7b-50fcd5ee7ed9",
      "name": "AWS Bedrock Chat Model1",
      "credentials": {
        "aws": {
          "id": "Odg3O34ltsyYJyT2",
          "name": "AWS account"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "gl": "fr"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolSerpApi",
      "typeVersion": 1,
      "position": [
        -340,
        40
      ],
      "id": "1ea3392f-e6c5-459a-9814-bf395d865e69",
      "name": "SerpAPI",
      "credentials": {
        "serpApi": {
          "id": "PhwBriL6Vbps3Mwh",
          "name": "SerpAPI account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "6cf546c5-5737-4dbd-851b-17d68e0a3780",
              "name": "repo.owner",
              "type": "string",
              "value": "gmoulard"
            },
            {
              "id": "452efa28-2dc6-4ea3-a7a2-c35d100d0382",
              "name": "repo.name",
              "type": "string",
              "value": "n8n-backups"
            },
            {
              "id": "81c4dc54-86bf-4432-a23f-22c7ea831e74",
              "name": "repo.path",
              "type": "string",
              "value": "=blogs/{{ $json.tags[0].name }}"
            },
            {
              "id": "50e60665-e4a2-4db1-b697-4569068126e4",
              "name": "emailValidation",
              "value": "gmoulard@gmail.com",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "392e08dd-5320-419a-8c38-2985fca34feb",
      "name": "Globals",
      "type": "n8n-nodes-base.set",
      "position": [
        -200,
        -240
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "resource": "file",
        "owner": {
          "__rl": true,
          "value": "gmoulardlard",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "=n8n",
          "mode": "name"
        },
        "filePath": "=Blog",
        "fileContent": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('File_Content', ``, 'string') }}",
        "commitMessage": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Commit_Message', ``, 'string') }}"
      },
      "type": "n8n-nodes-base.githubTool",
      "typeVersion": 1.1,
      "position": [
        320,
        20
      ],
      "id": "c0578b7b-821d-425e-9692-0627cd27e052",
      "name": "GitHub",
      "webhookId": "ddfce0a6-0423-4c62-a133-4810b6aca3db",
      "credentials": {
        "githubApi": {
          "id": "ip6f04XJlkJqCZbK",
          "name": "GitHub account"
        }
      }
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-04-29T10:19:49.000Z",
  "versionId": "80b19fda-0828-4f4a-a0bc-e1d06c23333e"
}