Workflow/x6YfVdcAP3YWV0sc.json
{
  "active": true,
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "AWS Bedrock Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Email Validateur",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gmail1": {
      "main": [
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AWS Bedrock Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "SerpAPI": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "GitHub": {
      "ai_tool": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Email Validateur": {
      "main": [
        [
          {
            "node": "Gmail1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "GitHub1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Wikipedia": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent1": {
      "main": [
        []
      ]
    },
    "HTTP Request1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-04-28T15:04:44.034Z",
  "id": "x6YfVdcAP3YWV0sc",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "creationBlogPostGitHub",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "id": "c11a11a4-151b-48ce-b7d2-ac72c0ab6c76",
      "name": "When chat message received",
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        -780,
        -240
      ],
      "webhookId": "5ee1fdf0-1eca-495b-8872-4d11d79d5d0d"
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "3e1f147f-3d41-4c2c-beb2-ae72b94b9711",
      "name": "AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        -560,
        -240
      ]
    },
    {
      "parameters": {},
      "id": "1bc0b589-84a3-44d8-a455-5ffe612bbabc",
      "name": "Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -500,
        40
      ]
    },
    {
      "parameters": {
        "model": "anthropic.claude-3-5-sonnet-20240620-v1:0",
        "options": {
          "maxTokensToSample": 8000,
          "temperature": 0.7
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatAwsBedrock",
      "typeVersion": 1,
      "position": [
        -680,
        40
      ],
      "id": "6aca947b-07f6-44c8-a32a-71dcabb1d79b",
      "name": "AWS Bedrock Chat Model",
      "credentials": {
        "aws": {
          "id": "Odg3O34ltsyYJyT2",
          "name": "AWS account"
        }
      }
    },
    {
      "parameters": {
        "operation": "sendAndWait",
        "sendTo": "={{ $('Email Validateur').item.json.emailValidation }}",
        "subject": "=ok ou non ?  {{ $('When chat message received').item.json.chatInput }}",
        "message": "=OK pour la page : \n\n{{ $('AI Agent').item.json.output }}\n\n\n",
        "approvalOptions": {
          "values": {
            "approvalType": "double"
          }
        },
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        -20,
        -240
      ],
      "id": "a79784f6-b526-4661-831e-bb18e192e1d4",
      "name": "Gmail1",
      "webhookId": "074fea41-3a6f-4c49-9727-f2cf0b9d95b0",
      "credentials": {
        "gmailOAuth2": {
          "id": "ItbTQ7TkDwS7VqUL",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=si {{ $json.data.approved }} est a true, modifier ou si il n'y a pas de post, créer  un fichier dans le git pour un blogpost fait avec Hugo en markdown. Le nom du fichier doit commencer par la date {{ $today }}. le contenus ud post t: {{ $('AI Agent').item.json.output }}",
        "options": {
          "systemMessage": "=",
          "returnIntermediateSteps": true
        }
      },
      "id": "0b6e6c75-9f6e-446c-9d50-23d0e4560ec5",
      "name": "AI Agent1",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        160,
        -240
      ]
    },
    {
      "parameters": {
        "model": "anthropic.claude-3-5-sonnet-20240620-v1:0",
        "options": {
          "maxTokensToSample": 8000,
          "temperature": 0.7
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatAwsBedrock",
      "typeVersion": 1,
      "position": [
        140,
        40
      ],
      "id": "1202bc99-8e69-404f-9b7b-50fcd5ee7ed9",
      "name": "AWS Bedrock Chat Model1",
      "credentials": {
        "aws": {
          "id": "Odg3O34ltsyYJyT2",
          "name": "AWS account"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "gl": ""
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolSerpApi",
      "typeVersion": 1,
      "position": [
        -360,
        40
      ],
      "id": "1ea3392f-e6c5-459a-9814-bf395d865e69",
      "name": "SerpAPI",
      "credentials": {
        "serpApi": {
          "id": "PhwBriL6Vbps3Mwh",
          "name": "SerpAPI account"
        }
      }
    },
    {
      "parameters": {
        "resource": "file",
        "owner": {
          "__rl": true,
          "value": "gmoulard",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "=n8n",
          "mode": "name"
        },
        "filePath": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('File_Path', ``, 'string') }}",
        "fileContent": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('File_Content', ``, 'string') }}",
        "commitMessage": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Commit_Message', ``, 'string') }}"
      },
      "type": "n8n-nodes-base.githubTool",
      "typeVersion": 1.1,
      "position": [
        440,
        40
      ],
      "id": "c0578b7b-821d-425e-9692-0627cd27e052",
      "name": "GitHub",
      "webhookId": "ddfce0a6-0423-4c62-a133-4810b6aca3db",
      "credentials": {
        "githubApi": {
          "id": "ip6f04XJlkJqCZbK",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "50e60665-e4a2-4db1-b697-4569068126e4",
              "name": "emailValidation",
              "value": "=gmoulard@gmail.com",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "392e08dd-5320-419a-8c38-2985fca34feb",
      "name": "Email Validateur",
      "type": "n8n-nodes-base.set",
      "position": [
        -200,
        -240
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('When chat message received').item.json.sessionId }}",
        "contextWindowLength": 15
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        300,
        40
      ],
      "id": "f20fe687-f022-47b5-8b51-a65c1e2e0fc3",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "edit",
        "owner": {
          "__rl": true,
          "value": "gmoulard",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "n8n",
          "mode": "name"
        },
        "filePath": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('File_Path', ``, 'string') }}",
        "fileContent": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('File_Content', ``, 'string') }}",
        "commitMessage": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Commit_Message', ``, 'string') }}"
      },
      "type": "n8n-nodes-base.githubTool",
      "typeVersion": 1.1,
      "position": [
        560,
        40
      ],
      "id": "f4e67f61-c8e3-4033-8ace-4001ca0fa76b",
      "name": "GitHub1",
      "webhookId": "a5f8468d-da39-4420-b316-e7975b23a002",
      "credentials": {
        "githubApi": {
          "id": "ip6f04XJlkJqCZbK",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolWikipedia",
      "typeVersion": 1,
      "position": [
        -80,
        40
      ],
      "id": "1e0c0609-522c-4981-91c7-fe6318e11c3e",
      "name": "Wikipedia"
    },
    {
      "parameters": {
        "url": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('URL', ``, 'string') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.2,
      "position": [
        -220,
        40
      ],
      "id": "7e4ef9c8-0945-4ac3-ab22-a10e6e02fc75",
      "name": "HTTP Request1"
    },
    {
      "parameters": {
        "content": "## repo \n\ngithub : https://github.com/gmoulard/n8n\n\nLimite, quand il modifie une page, en fait il l'a remplace !!!",
        "height": 180,
        "width": 420
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -800,
        -460
      ],
      "id": "496b1e3d-dfca-405c-943f-b6560874f41c",
      "name": "Sticky Note"
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2025-04-29T15:47:49.000Z",
  "versionId": "4d56d86d-715b-4aaa-afea-248929d53861"
}